tbank_dz_iurchenko_last_2.json
{
  "name": "tbank_dz_iurchenko_last_2",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "7742e19e-1833-4c34-9ce3-9de0d2a815a3",
      "name": "Daily Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -3616,
        1952
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "hhApiUrl",
              "value": "https://api.hh.ru/vacancies",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "searchKeyword",
              "value": "data analyst OR аналитик данных OR дата аналитик",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "daysAgo",
              "value": 1,
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "f34dcecf-f556-4196-8f96-fabbd32295f8",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3392,
        1952
      ]
    },
    {
      "parameters": {
        "url": "={{ $('Workflow Configuration').first().json.hhApiUrl }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $('Workflow Configuration').first().json.searchKeyword }}"
            },
            {
              "name": "date_from",
              "value": "={{ $now.minus({ days: $('Workflow Configuration').first().json.daysAgo }).toFormat('yyyy-MM-dd') }}"
            },
            {
              "name": "per_page",
              "value": "100"
            }
          ]
        },
        "options": {}
      },
      "id": "c228d6f7-456d-4131-9ac5-0dffc9bdba0b",
      "name": "Fetch Jobs from HH.ru API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -3168,
        1952
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json.name }}",
              "rightValue": "junior",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "id-3",
              "leftValue": "={{ $json.name }}",
              "rightValue": "стажёр",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "id-5",
              "leftValue": "={{ $json.name }}",
              "rightValue": "стажер",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "9e461251-c16a-47e1-978c-3dd993213a59",
      "name": "Filter Junior/Intern Positions",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -2496,
        1952
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "message",
              "value": "=🔔 New Job Alert!\n\n📋 Position: {{ $json.name }}\n🏢 Company: {{ $json.employer.name }}\n💰 Salary: {{ $json.salary ? ($json.salary.from ? $json.salary.from + ' - ' : '') + ($json.salary.to ? $json.salary.to : 'Not specified') + ($json.salary.currency ? ' ' + $json.salary.currency : '') : 'Not specified' }}\n🔗 Apply: {{ $json.alternate_url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b8a55ab5-9c35-48b3-843c-3fb051e7bfcd",
      "name": "Format Message for Telegram",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2048,
        1856
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "chatId": "235761638",
        "text": "={{ $json.message }}",
        "additionalFields": {}
      },
      "id": "5bcde1e5-e44b-42e8-a0ac-8529e34918fb",
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1824,
        1856
      ],
      "webhookId": "038800d1-e88e-4cb1-909b-af780591baf0",
      "credentials": {
        "telegramApi": {
          "id": "KpOrvkRI5hvuPVwk",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "items",
        "options": {}
      },
      "id": "f57860b5-591d-4987-bb92-02702e2830fb",
      "name": "Split Job Items",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -2944,
        1952
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json.name }}",
              "rightValue": "data analyst",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "id-2",
              "leftValue": "={{ $json.name }}",
              "rightValue": "аналитик данных",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "id-3",
              "leftValue": "={{ $json.name }}",
              "rightValue": "дата аналитик",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "26471a35-6ee7-415f-8759-32d30b5c2757",
      "name": "Filter Data Analyst Positions",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -2720,
        1952
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $itemIndex }}",
              "rightValue": "0",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7da16ad9-73da-404b-9041-7ccf8b138d3e",
      "name": "Check If Jobs Found",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2272,
        1952
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "message",
              "value": "подходящих вакансий сегодня нет",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "3a67a149-8d47-427a-adfe-512870774842",
      "name": "No Jobs Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2048,
        2048
      ]
    },
    {
      "parameters": {
        "chatId": "235761638",
        "text": "={{ $json.message }}",
        "additionalFields": {}
      },
      "id": "ec993a58-8b55-42c8-bd41-983c079dd244",
      "name": "Send No Jobs Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1824,
        2048
      ],
      "webhookId": "8cea8d84-321c-4e64-8f62-465b606e09c1",
      "credentials": {
        "telegramApi": {
          "id": "KpOrvkRI5hvuPVwk",
          "name": "Telegram account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Daily Trigger": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Fetch Jobs from HH.ru API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Message for Telegram": {
      "main": [
        [
          {
            "node": "Send to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Jobs from HH.ru API": {
      "main": [
        [
          {
            "node": "Split Job Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Job Items": {
      "main": [
        [
          {
            "node": "Filter Data Analyst Positions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Junior/Intern Positions": {
      "main": [
        [
          {
            "node": "Check If Jobs Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Data Analyst Positions": {
      "main": [
        [
          {
            "node": "Filter Junior/Intern Positions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Jobs Found": {
      "main": [
        [
          {
            "node": "Format Message for Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Jobs Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Jobs Message": {
      "main": [
        [
          {
            "node": "Send No Jobs Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "20e15a49-83c2-4b72-a77f-3f5915ba29c9",
  "meta": {
    "templateId": "770",
    "templateCredsSetupCompleted": true,
    "instanceId": "2d63c962d7423a5b04481bb60d5d0b175d216035e7b480b688ff03624ad9aea6"
  },
  "id": "XvJX6NfVe5mal3Dh",
  "tags": []
}